*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../img/background.jpg);
    background-image: cover;
}

html,body{
    width: 100%;
    height: 100%;
}

.logo{
    width: 180px;
}

.navbar{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;           
}

.form{
    background-color: rgba(0, 0, 0, 0.75); 
    height: 550px;
    width: 440px;
    padding: 60px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    height: 40%;
    margin-top: 40px;
}
.form-email{
    background-color: rgba(128,128,128, 0.4);
    border-radius: 4px;
    height: 60px;
    outline: none;
    border: transparent;

}

.form-email::placeholder{
    padding: 20px;
    color: rgba(128,128,128, 0.8);
}

.bt{
    background-color: red;
    outline: none;
    border: transparent;
    border-radius: 4px;
    height: 50px;
    justify-content: center ;
    align-items: center;
}

.bt:hover{
    box-shadow: 1px 1px 10px 6px;
    color: rgba(68, 23, 23, 0.9);
}

.entrar{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: 5px;
}

.checkbox{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.help{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
}

.help:hover{
    text-decoration: underline;
}

.remember{
    font-size: 14px;
}

.facebook-logo{
    width: 20px;
}

.facebook-smedia{
    display: grid;
    grid-template-columns: 20px 200px;
    column-gap: 5px;
    margin-top: 20px;
}

.connect{
    display: grid;
    align-items: center;
}

.help-me{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-right: 70px;
}

.help-me:hover{
    color: black;
}

.navbar span:hover{
    background-color: white;
}

.navbar span{
    border: 2px solid red;
    padding: 20px;
    border-radius: 200px;
    background-color: rgba(128,128,128, 0.3);
    font-weight: 800;
    
}

.link-face{
    text-decoration: none;
    color: #737373;
    font-weight: 500;
}
.link-new-account{
    color: white;
    text-decoration: none;
}

.new-account span{
    font-weight: 600;
}

.new-account{
    margin-top: 25px;
}

.protect{
    margin-top: 25px;
    color: #8c8c8c;
    text-align: justify
}

.protect span{
    color: blue;
}